<!---
Шаблоны для страницы #overwiew
-->


<!--- Список цехов -->
<script id="overviewTemplate" type="text/template">
    <div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="owerMachineTableChecked" {{MTChecked }}>
            <label class="form-check-label" for="owerMachineTableChecked">Табличный вид</label>
        </div>

        <div>   
            <ul class="nav nav-tabs">
                {{#each this}}
                <li class="nav-item">
                    <a class="nav-link" data-role="nav-overview-gild-{{gild_id}}" href="#Overview/{{gild_id}}">Цех №{{gild_number}}</a>
                </li>
                 {{/each}}
            </ul>

        </div>
        <div class="flex-container" id="owerviewMachineTable">
            
        </div>
    </div>
</script>