<!--- Шаблон для входа -->
<script id="signInTemplate" type="text/template">

        <div data-dialog-title="Вход">
            <form id="signInForm" class="form-horizontal" role="form" method="POST">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Пользователь</label>
                    <div class="">
                        <input type="text" class="form-control" placeholder="" name="login">
                    </div>
                

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
                    <div class="">
                        <input type="password" class="form-control" placeholder="" name="password">
                    </div>
                </div>

                <div class="form-group">
                    <label id="ErrorMessage" class="col-sm control-label text-danger"></label>
                </div>

                <div class="form-group">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="signInBotton" type="submit" class="btn btn-primary me-md-2 btn-sm">Войти</button>
                    </div>
                </div>

                <div class="row justify-content-between ">
                    <div class="col-4">
                        <a id="signUpBotton" class="" href="">Регистрация</a>
                    </div>

                    <div class="col-8 text-end">
                        <a id="signUpBotton" class="" href="">Забыли пароль?</a>
                    </div>

                </div>


            </form>

        </div>

    </script>

<!--- Шаблон для регистрации -->
<script id="signUpTemplate" type="text/template">

        <div data-dialog-title="Регистрация">
            <form id="signUpForm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Login</label>
                    <input type="login" class="form-control" name="login" placeholder="Login">
                    </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" placeholder="Name">Name</label>
                    <input class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" placeholder="Name">E-mail</label>
                    <input class="form-control" name="email">
                </div>
                <div class="form-group">
                        <label id="ErrorMessage" class="col-sm control-label"></label>
                </div>

                <button  type="submit" class="btn btn-primary">Регистрация</button>
            </form>

        </div>
    </script>